{{!-- <section>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="text-center mt-3">Add Products</h2>
        <form
          action="/admin/add-product"
          method="post"
          enctype="multipart/form-data"
          class="mt-5"
        >
       
          <label for="" style="font-weight: bold;">Name</label>
          <input type="text" name="Name" class="form-control" />

          <label for="" style="font-weight: bold;">Category</label>
          <input type="text" name="Category" class="form-control" />

          <label for="" style="font-weight: bold;">Description</label>
          <input type="text" name="Description" class="form-control" />

          <label for="" style="font-weight: bold;">Size</label>
          <input type="text" name="Size" class="form-control" />

          <label for="" style="font-weight: bold;">Price</label>
          <input type="text" name="Price" class="form-control" />
          

          <label for="" style="font-weight: bold;">Image</label>
          <input type="file" name="Image" class="form-control" />

  
            <button style="width: 30%;"
            type="submit"
            class="btn btn-primary mt-3"
          >Add</button>
          
        </form>
      </div>
    </div>
  </div>
</section> --}}



<section id="add-pro">
    <form action="/admin/add-product"  enctype="multipart/form-data" method="post">
         <div class="address-details">
               <h3>Add New Product</h3>
            <div>
                <input type="text" id="fname" name="name"  placeholder="Product Name"><br>
                <input type="text" id="lname" name="stock" placeholder="No Of Stock"><br>
                <input type="text" id="house" name="about" placeholder="Write About Product"><br>
                <input type="text" id="town" name="price"  placeholder="Product Price"><br>
                
               
           </div>

      </div>

    <div class="select">
             <div class="brand">
               <select name="brand" id="">
                 <option value="">Brand</option>
                 {{#each brand}}
                 <option value="{{this.Name}}">{{this.Name}}</option>
                 {{/each}}
               </select>

             </div>

             <div class="cat">
               <select name="Mcategory" id="">
                 <option value="">Category</option>
                 {{#each category}}
                 <option value="{{this.category}}">{{this.category}}</option>
                 {{/each}}
               </select>

             </div>

             <div class="subcat">
               <select name="Scategory" id="">
                 <option value="">Sub Category</option>
                {{#each category}}
                 <option value="">{{this.Scategory}}</option>
                 {{/each}}        
               </select>

             </div>
           </div> 

            <div class="pro-img">
              <div class="img1">
                <input type="file" name="img1">
                <img src="" alt="">
                
              </div>

              <div class="img2">
                  <input type="file" name="img2">
                <img src="" alt="">
                

              </div>

              <div class="img3">
                  <input type="file" name="img3">
                <img src="" alt="">

              </div>

              <div class="img4">
                  <input type="file" name="img4">
                <img src="" alt="">

              </div>
            </div>

             <div class="add-btn">
                <button type="submit">Add</button>
                </div>

    </form>
</section>

