

<section id="view-pro">
  <h3>All Product</h3>
    <table width="100%">
        <thead>
            <tr>
                <td>Items</td>
                <td>Image</td>
                <td>Price</td>
                <td>Stock</td>
                <td>Brand</td>             
                <td>Category</td>
                <td>Action</td>
            </tr>
        </thead>
        <tbody>
          {{#each products}}
            <tr>
                <td>{{this.name}}</td>
                <td><img  src="/product-images/{{this._id}}a.jpg" alt=""></td>
                <td>{{this.price}}</td>
                <td>{{this.stock}}</td>
                <td>{{this.brand}}</td>
                <td>{{this.Mcategory}}</td>
                <td>
                   <span><a href="/admin/edit-product/{{this._id}}"><i class="fas fa-pen"></i></a></span>
                   <span><a href="/admin/delete-product/{{this._id}}"><i class="fas fa-trash"></i></a></span>
                </td>  
            </tr>
            {{/each}} 
        </tbody>
    </table>
</section>