<section id="header">
  <div id="mobile">
    <i id="bar" class="fas fa-bars"></i>
  </div>

  <a href="/"><img src="/logo-img/logo.png" alt="" /></a>
  <div>
    <ul id="nav1">
      <li><a href="/">Home</a></li>
      <li><a href="">Men's</a></li>
      <li><a href="">Women</a></li>
      <li><a href="">Kids</a></li>
      {{#if user}}
        <li><a href="/orders">Orders</a></li>
      {{/if}}
      <a href="#" id="close"><i class="fas fa-times"></i></a>
    </ul>
  </div>
  <div class="second nav">
    <ul id="nav2">
      <li><a href="/whishlist"><i class="fas fa-heart"></i>
        {{#if user}}
        <span id="whishlist-count">{{whishlistCount}}</span>
        {{/if}}
      </i></a></li>
      {{! <li><a href=""><i class="far fa-user"></i></a></li> }}
      <li><a href="/cart"><i class="fas fa-shopping-cart">
            {{#if user}}
              <span id="cart-count">{{cartCount}}</span>
            {{/if}}
          </i></a></li>   
    </ul>
  </div>

  <div class="userhead" onclick="menuToggle()">
    {{#if user}}
      <span> Hi, {{user.name}}</span>
    {{else}}
      <i class="far fa-user avtar-head"></i>
    {{/if}}
    <div class="menu">
      <ul>
        {{#if user}}
          <li><a href="/user-profile">Profile</a></li>
          <li><a href="">Settings</a></li>
          <li><a href="/logout">Logout</a></li>
        {{else}}
          <li><a href="/login">Login</a></li>
        {{/if}}
      </ul>
    </div>
  </div> 
</section>

<script>
const bar = document.getElementById('bar')
const close = document.getElementById('close')
const nav = document.getElementById('nav1')

   if (bar) {
        bar.addEventListener('click', () => {
            nav.classList.add('active')
        })
    }
   if (close) {
        close.addEventListener('click', () => {
            nav.classList.remove('active')
        })
    }

const menuToggle=()=>{
    const toggleMenu = document.querySelector('.menu')
    toggleMenu.classList.toggle('active')
 }
</script>


 


{{!-- <nav class="navbar navbar-expand-sm bg-dark navbar-dark"> <button class="navbar-toggler" type="button" data-target="#navigation"> <span class="navbar-toggler-icon"></span> </button>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
            <li class="nav-item active"> <a href="#" class="nav-link"> Home </a> </li>
            <li class="nav-item"> <a href="/" class="nav-link"> Product </a> </li>
            <li class="nav-item"> <a href="/cart" class="nav-link"> Cart<span class="badge badge-success ml-1" id="cart-count">{{cartCount}}</span> </a> </li>
            {{#if user}}
            <li class="nav-item"> <a href="/orders" class="nav-link"> Orders </a> </li>
            {{/if}}
        </ul>
        
    </div>
    <div class="dropdown">
  <button class=" account dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

   {{#if user}}
   {{user.Name}}
   {{else}}
       Account
   {{/if}}
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    {{#if user}}

    <a class="dropdown-item" href="/logout">Logout</a>
    {{else}}
    <a class="dropdown-item" href="/login">Login</a>
    {{/if}}
  </div>
</div>
</nav> --}}