<div class="container">
 <div class="small-container cart-page">
    <table class="cart-table">
        <tr>
            <th class="cart-head">Product</th>
            <th class="cart-head">Quantity</th>
            <th class="cart-head">Price</th>
        </tr>
        {{#each products}}
        <tr>              
            <td class="cart-td">
                <div class="cart-info">
                    <img class="cart-img"  src="product-images/{{this.product._id}}.jpg" alt="">
                    <div>
                        <p>{{this.product.Name}}</p>
                        <small>Size : {{this.product.Size}}</small>
                        <br>
                        <button onclick="removeProduct('{{this._id}}','{{this.product._id}}')" class="cart-remove">Remove</button>
                    </div>
                </div>
            </td>       
            <td class="cart-count">
                <button class="cart-item-count mr-2" onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../user._id}}',-1)">-</button>
                <span id="{{this.product._id}}">{{this.quantity}}</span>
                <button class="cart-item-count ml-2" onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../user._id}}',1)">+</button>
            </td>              
            <td>{{this.product.Price}}</td>  
        </tr>
        {{/each}}
    </table>
    <div class="total-price">
        <table>
            <tr>
                <td>Total : </td>
                <td> Rs . <span id="totalsum">{{totalSum}}</span></td>
            </tr>
        </table>
    </div>
    <div class="order">
        <a  href="/place-order">Place Order</a>
    </div>
    
 </div>
</div>