{{!-- <section>
  <div class="container col-md-8 mt-5">
      <table class="table mt-5">
        <thead>
          <tr> 
            
            <th scope="col">Date</th>
            <th scope="col">Address</th>
            <th scope="col">Pincode</th>
            <th scope="col">Mobile</th>
            <th scope="col">Amount</th>
            <th scope="col">Payment</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
            {{#each orders}}
          <tr>
            
            <td>{{this.date}},{{this.time}}</td>
            <td>{{this.deliveryDetails.address}}</td>
            <td>{{this.deliveryDetails.pincode}}</td>
            <td>{{this.deliveryDetails.mobile}}</td>
            <td>{{this.totalAmount}}</td>
            <td>{{this.paymentMethod}}</td>
            <td>{{this.status}}</td>
            <td>
                <a class="btn btn bg-success" href="/view-order-products/{{this._id}}">View Products</a>
            </td>
           
          </tr>
          {{/each}}
        </tbody>
      </table>
  </div>
</section> --}}


<section id="order">
  {{#each orders}}

  <div class="address">
    <h3>DELIVERY DETAILS</h3>
    <div class="details">
      <div>
        <h5>Order Id</h5>
      </div>
      <div>
        <p>{{this._id}}</p> 
      </div>
    </div>
    <div class="details">
      <div>
        <h5>Name</h5>
      </div>
      <div>
        <p>{{this.deliveryDetails.fname}} {{this.deliveryDetails.lname}}</p>
      </div>
    </div>
    <div class="details">
      <div>
        <h5>House</h5>
      </div>
      <div>
        <p>{{this.deliveryDetails.house}}</p>
      </div>
    </div>
    <div class="details">
      <div>
        <h5>City</h5>
      </div>
      <div>
       <p>{{this.deliveryDetails.town}}, {{this.deliveryDetails.pincode}}</p>
      </div>
    </div>
    <div class="details">
      <div>
        <h5>Mobile</h5>
      </div>
      <div>
        <p>{{this.deliveryDetails.phone}}</p>
      </div>
    </div>
    <div class="details">
      <div>
        <h5>Total</h5>
      </div>
      <div>
        <p>{{this.totalAmount}}</p>
      </div>
    </div>
  </div>

  <div class="payment">
    <div class="method">
      <div>
        <h5>Order Status :</h5>
      </div>
      <div>
        <p>{{this.status}}</p>
      </div>
    </div>
    <div class="method">
      <div>
        <h5>Date :</h5><br>
        <a href="">View Product</a>
      </div>
      <div>
        <p>{{this.date}}</p>
      </div>
    </div>
  </div>
  <div class="status">
    <p>Delivered</p>
  </div>
   
   {{/each}}

</section>

