<section>
  <div class="container col-md-8 mt-5">
      <table class="table mt-5">
        <thead>
          <tr> 
            
            <th scope="col">Date</th>
            <th scope="col">Address</th>
            <th scope="col">Pincode</th>
            <th scope="col">Mobile</th>
            <th scope="col">Amount</th>
            <th scope="col">Payment</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
            {{#each orders}}
          <tr>
            
            <td>{{this.date}},{{this.time}}</td>
            <td>{{this.deliveryDetails.address}}</td>
            <td>{{this.deliveryDetails.pincode}}</td>
            <td>{{this.deliveryDetails.mobile}}</td>
            <td>{{this.totalAmount}}</td>
            <td>{{this.paymentMethod}}</td>
            <td>{{this.status}}</td>
            <td>
                <a class="btn btn bg-success" href="/view-order-products/{{this._id}}">View Products</a>
            </td>
           
          </tr>
          {{/each}}
        </tbody>
      </table>
  </div>
</section>