 
<section id="proDetails">


  <div class="single-pro-img">
    {{!-- <div id="image-zoom"> --}}
    <img 
      src="/product-images/{{product._id}}a.jpg"
      width="100%"
      id="mainImg"
      alt=""
    />
    {{!-- </div> --}}

    <div class="small-img-group">
      <div class="small-img-col">
        <img src="/product-images/{{product._id}}a.jpg" class="small-img" alt="" />
      </div>
      <div class="small-img-col">
        <img src="/product-images/{{product._id}}b.jpg" class="small-img" alt="" />
      </div>
      <div class="small-img-col">
        <img src="/product-images/{{product._id}}c.jpg" class="small-img" alt="" />
      </div>
      <div class="small-img-col">
        <img src="/product-images/{{product._id}}d.jpg" class="small-img" alt="" />
      </div>
    </div>
  </div>

  <div class="single-pro-details">
    <h6>{{product.brand}}</h6>
    <h4>{{product.name}}</h4>
    <h2>Rs : {{product.price}}</h2>
    <select id="size">
      <option value="S">S</option>
      <option value="M">M</option>
      <option value="L">L</option>
      <option value="XL">XL</option>
      <option value="XXL">XXL</option>
    </select>
    <button class="btn-wishlist">Wishlist +</button>
    <button onclick="addToCart('{{product._id}}')" class="btn-addtocart">Add To Cart</button>
    <h4>Product Details</h4>
    <span>Lorem Ipsum is simply dummy text of the printing and typesetting
      industry. Lorem Ipsum has been the industry's standard dummy text ever
      since the 1500s, when an unknown printer took a galley of type and
      scrambled it to make a type specimen book. It has survived not only five
      centuries, but also the leap into electronic typesetting, remaining
      essentially unchanged. It was popularised in the 1960s with the release of
      Letraset sheets containing Lorem Ipsum passages, and more recently with
      desktop publishing software like Aldus PageMaker including versions of
      Lorem Ipsum.</span>
  </div>
</section>

<section id="products">
  <h2>Related Products</h2>
  <p>Summer Collection New Morden Design</p>
  <div class="pro-container">
    <div class="pro">
      <img src="/images/shirt.jpg" alt="" />
      <div class="des">
        <span>addidas</span>
        <h5>Cartoon Astronaut T-Shirt</h5>
        <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <h4>Rs : 200</h4>
      </div>
      <button class="whlist"><i class="fas fa-heart"></i></button>
      <button class="cart"><i class="fas fa-shopping-cart"></i></button>
    </div>
    <div class="pro">
      <img src="/images/shirt.jpg" alt="" />
      <div class="des">
        <span>addidas</span>
        <h5>Cartoon Astronaut T-Shirt</h5>
        <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <h4>Rs : 200</h4>
      </div>
      <button class="whlist"><i class="fas fa-heart"></i></button>
      <button class="cart"><i class="fas fa-shopping-cart"></i></button>
    </div>
    <div class="pro">
      <img src="/images/shirt.jpg" alt="" />
      <div class="des">
        <span>addidas</span>
        <h5>Cartoon Astronaut T-Shirt</h5>
        <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <h4>Rs : 200</h4>
      </div>
      <button class="whlist"><i class="fas fa-heart"></i></button>
      <button class="cart"><i class="fas fa-shopping-cart"></i></button>
    </div>
    <div class="pro">
      <img src="/images/shirt.jpg" alt="" />
      <div class="des">
        <span>addidas</span>
        <h5>Cartoon Astronaut T-Shirt</h5>
        <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <h4>Rs : 200</h4>
      </div>
      <button class="whlist"><i class="fas fa-heart"></i></button>
      <button class="cart"><i class="fas fa-shopping-cart"></i></button>
    </div>

  </div>
</section>

<section id="newsletter">
  <div class="newstext">
    <h4>Sign Up For Newsletters</h4>
    <p>Get E-Mail Update about our latest shop and
      <span>special offers</span></p>
  </div>
  <div class="form">
    <input type="text" placeholder="Your email address" />
    <button>Sign Up</button>
  </div>
</section>

<footer>
  <div class="col">
    <img src="/logo-img/logo.png" alt="" />
    <h4>Contact</h4>
    <p><strong>Address :
      </strong>adaaddadadaddaadaddadaddadadadadadadadadadaddadadadad</p>
    <p><strong>Phone : </strong>(+91)00000000000,54863223654789865</p>
    <p><strong>Hours : </strong>9:00AM - 6:00PM, Mon - Fri </p>
    <div class="social">
      <h4>Follow us</h4>
      <div class="icon">
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-youtube"></i>
      </div>
    </div>
  </div>
  <div class="col">
    <h4>About US</h4>
    <a href="">About us</a>
    <a href="">Delivery Information</a>
    <a href="">Privacy Policy</a>
    <a href="">Term & Condition</a>
    <a href="">Contact Us</a>
  </div>

  <div class="col">
    <h4>My Account</h4>
    <a href="">sign In</a>
    <a href="">View Cart</a>
    <a href="">My Wishlist</a>
    <a href="">Track My Order</a>
    <a href="">Help</a>
  </div>

  <div class="col install">
    <h4>Install App</h4>
    <p>From App Store or Google Play</p>
    <div class="row">
      <img src="/pay/apple2.png" alt="" />
      <img src="/pay/play.png" alt="" />
    </div>
    <p>Secure Payment Gateways</p>
  </div>

</footer>

<script>
  var mainImg = document.getElementById('mainImg');
    var smallImg = document.getElementsByClassName('small-img');
   
    smallImg[0].onclick=() => {
        mainImg.src = smallImg[0].src
    }
    smallImg[1].onclick=() => {
        mainImg.src = smallImg[1].src
    }
    smallImg[2].onclick=() => {
        mainImg.src = smallImg[2].src
    }
    smallImg[3].onclick=() => {
        mainImg.src = smallImg[3].src
    }


</script>


<script>

  var options = {
    width: 400,
    height: 250,
    zoomWidth: 500,
    offset: {vertical: 0, horizontal: 10},
    scale: 1.5
  }

   new ImageZoom(document.getElementById('image-zoom'), options);

</script>
  