<section id="user-profile">
    <div class="nav">
        <div>
            <i class="fas fa-user user"></i>
        </div>
        <h3>{{user.name}}</h3>
         <ul>
            <a href="" class="phn"><i class="fas fa-home"></i></a><li><a href="">Home</a></li>
            <a href="" class="phn"><i class="fas fa-shopping-cart"></i></a><li><a href="">Cart</a></li>
            <a href="" class="phn"><i class="fas fa-truck"></i></a><li><a href="">Orders</a></li>
            <a href="" class="phn"><i class="fas fa-sign-out-alt"></i></a><li><a href="">Logout</a></li>
         </ul>
    </div>
    <div class="profile">
        <div class="new-add">
              <h1>About</h1>
           <a href="/add-new-profile-addrs">Add New Address</a>
        </div>
        <div class="pro-box">
            <div class="content">
                <div>
                    <h5>Name</h5>
                </div>
                <div>
                    <p>{{user.name}} </p>
                </div>
            </div>
            <div class="content">
                <div>
                    <h5>Email</h5>
                </div>
                <div>
                    <p>{{user.email}}</p>
                </div>
            </div>
            <div class="content">
                <div>
                    <h5>Mobile</h5>
                </div>
                <div>
                    <p>{{user.mobile}}</p>
                </div>
            </div>
            <div class="content">
                <div>
                    <h5>Address</h5>
                </div>
                {{#if address}}
                {{#each address}}
                <div class="address">
                    <p>{{this.House}}, {{this.Town}}, {{this.Pin}}</p><br>
                         
                </div>
                <div class="edit-delete">
                    <a href="/edit-U-addrs/{{this._id}}"><i class="fas fa-pen"></i></a>
                    <a href=""><i class="fas fa-trash"></i></a> 
                </div>
                {{/each}}
                {{/if}}
            </div>
        </div>
    </div>
</section>