<section>
  <div class="container mb-5 mt-5">
    <div class="row">
      {{#each products}}
        <div class="col-12 col-md-4 col-lg-3 col-xl-3 p-3">
          <div class="card mt-3">
            <div class="product align-items-center p-3 text-center">
              <div class="inner">
                <img
                  src="product-images/{{this._id}}.jpg"
                  alt=""
                  class="rounded"
                />
              </div>
              <h5 class="mt-2">{{this.Name}}</h5>
              <div class="mt-3 info">
                <span class="text1 d-block mt-2">{{this.Category}}</span>
                <span class="text1">Size - {{this.Size}}</span>
              </div>
              <div class="cost mt-3 text-dark">
                <span>RS - {{this.Price}}</span>
              </div>
              <div class="p-3 text-center mt-3">
                <button onclick="addToCart('{{this._id}}')" class="addtocart">Add To Cart</button>
              </div>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</section>